.DS_Store
world.ac
*.psd
_site/
.sass-cache/
.jekyll-metadata
reg/

# installed items
jquery.min.js
tether.min.js
font-awesome.min.css
fonts
bootstrap
bootstrap.min.css
bootstrap.min.js
fontawesome-all.min.js
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/world.ac.iml
