#home {
  .icon {
    font-size: clamp(24px, 10vw, 50px);
  }
  .logo {
    width: 30em;
    margin: 0.5rem;
    max-width: 80%;
    max-height: 80%;
    object-fit: scale-down;
  }
  .logo-container {
    a {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .index-welcome {
    background-color: $color-tint;
    padding-top: 2%;
    padding-bottom: 2%;
    h1 {
      color: $color-green;
    }
    a {
      background: none;
      border: none;
      color: $color-light;
			font-size: clamp(24px, 7vw, 40px);
      width: 15%;
      &:hover {
        color: $color-grey;
        background-color: transparent;
        border: none;
        transition: all 0.3s;
      }
      &.error {
        color: $color-red;
        transition: all 0.3s;
      }
    }
		.row{
			display: flex;
			justify-content: center;
			align-items: baseline;
			h2{
				color: $color-light;
				font-size:2.3rem;
			}
		}
		#live_logo{
				width:12%;
				margin-right: 15px;
				animation: blinker 1.5s linear infinite;
				@keyframes blinker {
					50% {
						opacity: 0;
							}
					}
		}
  }
  .landing {
    padding-top: 8%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .form-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    .email-group {
      width: 60%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      p {
        display: block;
        margin-top: 0.5em;
        font-size: 1em;
        color: $color-light;
      }
      .error {
        color: $color-red;
        transition: all 0.3s;
      }
    }
    button {
      background: none;
      border: none;
      color: $color-light;
      font-size: 1.8em;
      width: 15%;
      &:hover {
        color: $color-grey;
        background-color: transparent;
        border: none;
        transition: all 0.3s;
      }
      &.error {
        color: $color-red;
        transition: all 0.3s;
      }
    }
  }
  input {
    background-color: transparent;
    color: $color-light;
  }
  .carousel-img {
    width: 100%;
  }
  .text-accent {
    font-weight: bolder;
  }
  .stats-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    .stats-group {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      svg {
        height: 4rem;
        width: 4rem;
      }
    }
  }
}
