#keynote {
  .announce {
    font-size: 8vw;
    color: $color-wac-dark-blue;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .card-deck {
    .card {
      img {
        margin-top: 1rem;
        max-width: 250px;
        border-radius: 5px;
        clip-path: circle();
      }
      .card-text {
        div {
          max-height: 400px;
          overflow-y: scroll;
        }
      }
    }
  }
  .other {
    img {
      clip-path: none !important;
    }
  }
}
