#plenaries {
  h3 {
    font-size: 1.6rem;
  }
  .card-deck {
    .card {
      height: 33vh;
      border-width: 1px;
      overflow: hidden;
      transition: all 0.2s ease-in-out;
      a {
        height: 100%;
        .card-img-overlay {
          top: 35%;
        }
      }
      &:hover {
        border-width: 7px;
        .plen-image {
          filter: brightness(40%);
        }
      }
    }
  }
  .plen-image {
    filter: brightness(70%);
    transition: all 0.2s ease-in-out;
    object-fit: cover;
    height: 100%;
  }
  .overlay {
    font-size: 8vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
