#plenaries {
  --background-dark: #2d3548;
  --text-light: rgba(255, 255, 255, 0.6);
  --text-lighter: rgba(255, 255, 255, 0.9);
  --spacing-s: 8px;
  --spacing-m: 16px;
  --spacing-l: 24px;
  --spacing-xl: 32px;
  --spacing-xxl: 64px;
  --width-container: 1200px;
  h3 {
    font-size: 1.6rem;
  }

  .wraper{
//center vertically
	display: flex;
	align-items: center;
	justify-content: center;
	height: 50vh;

  }

  .hero-section {
    align-items: flex-start;
	background-color: transparent;
	border:none;
    display: flex;
    min-height: 100%;
	width: 100%;
    justify-content: center;
    padding: var(--spacing-l) var(--spacing-l);
  }

  .plenarycard-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: var(--spacing-l);
    grid-row-gap: var(--spacing-l);
    max-width: var(--width-container);
    width: 100%;
  }

  @media (min-width: 540px) {
    .plenarycard-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (min-width: 960px) {
    .plenarycard-grid {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  .plenarycard {
    list-style: none;
    position: relative;
  }

  .plenarycard:before {
    content: '';
    display: block;
    padding-bottom: 150%;
    width: 100%;
  }

  .plenarycard__background {
		border: white 5px solid;
    background-size: cover;
    background-position: center;
    border-radius: var(--spacing-l);
    bottom: 0;
    filter: brightness(0.75) saturate(1.2) contrast(0.85);
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform-origin: center;
    transform: scale(1) translateZ(0);
    transition: filter 200ms linear, transform 200ms linear;
  }

  .plenarycard:hover .plenarycard__background {
    transform: scale(1.05) translateZ(0);
  }

  .plenarycard-grid:hover > .plenarycard:not(:hover) .plenarycard__background {
    filter: brightness(0.5) saturate(0) contrast(1.2) blur(3px);
  }

  .plenarycard__content {
    left: 0;
    padding: var(--spacing-l);
    position: absolute;
    top: 0;
  }

  .plenarycard__category {
    color: var(--text-light);
    font-size: 0.9rem;
    margin-bottom: var(--spacing-s);
    text-transform: uppercase;
  }

  .plenarycard__heading {
    color: var(--text-lighter);
    font-size: 1.9rem;
    text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
    line-height: 1.4;
    word-spacing: 100vw;
  }
}
