.speaker {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.speaker img {
  width: 60%;
  height: 60%;
  max-height: 250px;
  max-width: 250px;
  align-self: center;
  border-radius: 5px;
  object-fit: cover;
}

.speaker h4 {
  font-size: 1.5em;
  margin-top: 15px;
}

.speaker h5 {
  font-size: 1em;
}
