.speaker {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.speaker img {
  max-width: 100%;
  max-height: 300px;
  align-self: center;
}

.speaker h4 {
  font-size: 1.5em;
  margin-top: 15px;
}

.speaker h5 {
  font-size: 1em;
}
