.speaker {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
}
.speaker-img {
  height: 290px;
  width: auto;
  justify-content: center;
  align-items: center;
  display: flex;
}
.speaker-text {
  display: flex;
}
.speaker img {
  width: 90%;
  height: 90%;
  max-height: 250px;
  max-width: 250px;
  align-self: center;
  border-radius: 5px;
  object-fit: cover;
}

.speaker h4 {
  font-size: 1.5em;
  margin-top: 0px;
  font-weight: 600;
}

.speaker h5 {
  font-size: 1em;
  margin-bottom: 18px;
}
