// base colors
$color-dark: #2a262a;
$color-light: #fcf8ed;
$color-red: #d81159;
$color-green: #44cf6c;
$color-twitter: #1da1f2;
$color-instagram: #8a3ab9;
$color-tint: rgba(0, 0, 0, 0.4);
$color-grey: #fcf8edad;
$color-wac-light-blue: #51c9ec;
$color-wac-dark-blue: #607ea2;
$color-ucc-blue: #233c6a;
$color-bh-green: #225633;
