.black-icon {
  color: $color-dark;
}
a.black-icon {
  &:hover {
    color: $color-dark;
  }
  &:visited {
    color: $color-dark;
  }
}
.white-icon {
  color: $color-light;
  margin-left: 0.3rem;
  margin-right: 0.3rem;
}
.red-icon {
  color: $color-red;
  margin-left: 0.3rem;
  margin-right: 0.3rem;
}
a.white-icon {
  &:hover {
    color: $color-light;
  }
  &:visited {
    color: $color-light;
  }
}
