/*
WAC Website Stylesheet
Version: 2.0.1 (Modifid verson for React)
Written by @malsf21, @jacksarick, @obrien66, @jeffersonDing
*/
/* | NEXA FONT |
Nexa
Nexa Italic
Nexa Bold
Nexa Bold Italic
 */
@font-face {
  font-family: 'Nexa';
  src: url('webfonts/3018A5_C_0.eot');
  src: url('webfonts/3018A5_C_0.eot?#iefix') format('embedded-opentype'),
    url('webfonts/3018A5_C_0.woff2') format('woff2'),
    url('webfonts/3018A5_C_0.woff') format('woff'),
    url('webfonts/3018A5_C_0.ttf') format('truetype');
}
@font-face {
  font-family: 'Nexa';
  src: url('webfonts/3018A5_B_0.eot');
  src: url('webfonts/3018A5_B_0.eot?#iefix') format('embedded-opentype'),
    url('webfonts/3018A5_B_0.woff2') format('woff2'),
    url('webfonts/3018A5_B_0.woff') format('woff'),
    url('webfonts/3018A5_B_0.ttf') format('truetype');
  font-style: italic;
}
@font-face {
  font-family: 'Nexa';
  src: url('webfonts/3018A5_4_0.eot');
  src: url('webfonts/3018A5_4_0.eot?#iefix') format('embedded-opentype'),
    url('webfonts/3018A5_4_0.woff2') format('woff2'),
    url('webfonts/3018A5_4_0.woff') format('woff'),
    url('webfonts/3018A5_4_0.ttf') format('truetype');
  font-weight: bold;
}
@font-face {
  font-family: 'Nexa';
  src: url('webfonts/3018A5_3_0.eot');
  src: url('webfonts/3018A5_3_0.eot?#iefix') format('embedded-opentype'),
    url('webfonts/3018A5_3_0.woff2') format('woff2'),
    url('webfonts/3018A5_3_0.woff') format('woff'),
    url('webfonts/3018A5_3_0.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}
/* | NEXA LIGHT |
Nexa Light
Nexa Light Italic
*/
/*
@font-face {
	font-family: 'Nexa Light';
	src: url('webfonts/3018A5_A_0.eot');
	src: url('webfonts/3018A5_A_0.eot?#iefix') format('embedded-opentype'),url('webfonts/3018A5_A_0.woff2') format('woff2'),url('webfonts/3018A5_A_0.woff') format('woff'),url('webfonts/3018A5_A_0.ttf') format('truetype');
}
@font-face {
	font-family: 'Nexa Light';
	src: url('webfonts/3018A5_9_0.eot');
	src: url('webfonts/3018A5_9_0.eot?#iefix') format('embedded-opentype'),url('webfonts/3018A5_9_0.woff2') format('woff2'),url('webfonts/3018A5_9_0.woff') format('woff'),url('webfonts/3018A5_9_0.ttf') format('truetype');
	font-style:italic;
}
*/
/* | NEXA THIN | */
/*
@font-face {
	font-family: 'Nexa Thin';
	src: url('webfonts/3018A5_0_0.eot');
	src: url('webfonts/3018A5_0_0.eot?#iefix') format('embedded-opentype'),url('webfonts/3018A5_0_0.woff2') format('woff2'),url('webfonts/3018A5_0_0.woff') format('woff'),url('webfonts/3018A5_0_0.ttf') format('truetype');
}
*/
/* | NEXA BLACK |
Nexa Black
Nexa Black Italic
*/
/*
@font-face {
	font-family: 'Nexa Black';
	src: url('webfonts/3018A5_2_0.eot');
	src: url('webfonts/3018A5_2_0.eot?#iefix') format('embedded-opentype'),url('webfonts/3018A5_2_0.woff2') format('woff2'),url('webfonts/3018A5_2_0.woff') format('woff'),url('webfonts/3018A5_2_0.ttf') format('truetype');
}
@font-face {
	font-family: 'Nexa Black';
	src: url('webfonts/3018A5_1_0.eot');
	src: url('webfonts/3018A5_1_0.eot?#iefix') format('embedded-opentype'),url('webfonts/3018A5_1_0.woff2') format('woff2'),url('webfonts/3018A5_1_0.woff') format('woff'),url('webfonts/3018A5_1_0.ttf') format('truetype');
	font-style:italic;
}
*/
/* | NEXA BOOK |
Nexa Book
Nexa Book Italic
*/
/*
@font-face {
	font-family: 'Nexa Book';
	src: url('webfonts/3018A5_6_0.eot');
	src: url('webfonts/3018A5_6_0.eot?#iefix') format('embedded-opentype'),url('webfonts/3018A5_6_0.woff2') format('woff2'),url('webfonts/3018A5_6_0.woff') format('woff'),url('webfonts/3018A5_6_0.ttf') format('truetype');
}
@font-face {
	font-family: 'Nexa Book';
	font-style:italic;
	src: url('webfonts/3018A5_5_0.eot');
	src: url('webfonts/3018A5_5_0.eot?#iefix') format('embedded-opentype'),url('webfonts/3018A5_5_0.woff2') format('woff2'),url('webfonts/3018A5_5_0.woff') format('woff'),url('webfonts/3018A5_5_0.ttf') format('truetype');
}
*/
/* | NEXA HEAVY |
Nexa Heavy
Nexa Heavy Italic
*/
@font-face {
  font-family: 'Nexa Heavy';
  src: url('webfonts/3018A5_8_0.eot');
  src: url('webfonts/3018A5_8_0.eot?#iefix') format('embedded-opentype'),
    url('webfonts/3018A5_8_0.woff2') format('woff2'),
    url('webfonts/3018A5_8_0.woff') format('woff'),
    url('webfonts/3018A5_8_0.ttf') format('truetype');
}
@font-face {
  font-family: 'Nexa Heavy';
  src: url('webfonts/3018A5_7_0.eot');
  src: url('webfonts/3018A5_7_0.eot?#iefix') format('embedded-opentype'),
    url('webfonts/3018A5_7_0.woff2') format('woff2'),
    url('webfonts/3018A5_7_0.woff') format('woff'),
    url('webfonts/3018A5_7_0.ttf') format('truetype');
  font-style: italic;
}
/* | NEXA EXTRA BOLD |
NexaXBold
NexaXBoldItalic
*/
/*
@font-face {
	font-family: 'Nexa XBold';
	src: url('webfonts/3018A5_F_0.eot');
	src: url('webfonts/3018A5_F_0.eot?#iefix') format('embedded-opentype'),url('webfonts/3018A5_F_0.woff2') format('woff2'),url('webfonts/3018A5_F_0.woff') format('woff'),url('webfonts/3018A5_F_0.ttf') format('truetype');
}
@font-face {
	font-family: 'Nexa XBold';
	src: url('webfonts/3018A5_E_0.eot');
	src: url('webfonts/3018A5_E_0.eot?#iefix') format('embedded-opentype'),url('webfonts/3018A5_E_0.woff2') format('woff2'),url('webfonts/3018A5_E_0.woff') format('woff'),url('webfonts/3018A5_E_0.ttf') format('truetype');
	font-style:italic;
}
*/
/* |FREE LICENSED FONTS|

	This was when we were poor. We don't use these any more, but in a pinch we can pull them back up. The EULA is MIT OPEN 2.0

@font-face{
	font-family:Nexa;
	src:url(nexa/nexa_light.otf);
}
@font-face{
	font-family:Nexa;
	font-weight:bold;
	src:url(nexa/nexa_bold.otf);
}
*/
html {
  position: relative;
  min-width: 100%;
  min-height: 100%;
  overflow-x: hidden;
}

body {
  min-width: 100% !important;
  min-height: 100% !important;
  font-family: Nexa !important;
  padding-top: 4em !important;
  padding-bottom: 1em !important;
  background-color: #2a262a !important;
  color: #fff !important;
  background-image: url('../earth.png'), url('../stars.png') !important;
  background-repeat: no-repeat, repeat !important;
}

.card {
  color: #2a262a;
}

.modal {
  color: #2a262a;
}

h1,
h2,
h3 {
  font-family: Nexa Heavy;
}

.mobile-nav {
  color: #2a262a;
  font-size: 1.5em;
}

.mobile-nav-section {
  padding-top: 0.5em;
}

.nav-image {
  height: 30px;
  width: auto;
}

.index-welcome {
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 2%;
  padding-bottom: 2%;
}

.plenary-img {
  max-width: 25%;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 768px) {
  .plenary-img {
    max-width: 100%;
  }
}
.black-icon {
  color: black;
}

a.black-icon:hover {
  color: black;
}

a.black-icon:visited {
  color: black;
}

.white-icon {
  color: white;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.red-icon {
  color: red;
  margin-left: 0.3rem;
  margin-right: 0.3rem;
}
a.white-icon:hover {
  color: white;
}

a.white-icon:visited {
  color: white;
}

.contact-color {
  color: #fff;
}

a.contact-color:hover {
  color: #fff;
}

a.contact-color:visited {
  color: #fff;
}

.bg-twitter {
  background-color: #1da1f3;
}

.bg-instagram {
  background-color: #9c27b0;
}

.img-half {
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  height: auto;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.plen-image {
  filter: brightness(60%);
  transition: transform 0.2s;
}
.vertical-center {
  min-height: 100%; /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

/* React Transition Animation - Fade*/
.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 350ms;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 350ms;
}

/*React Transition Animation - Page*/
.page-enter {
  opacity: 0;
  transform: scale(1.1);
}

.page-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 400ms, transform 400ms;
}

.page-exit {
  opacity: 1;
  transform: scale(1);
}

.page-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 400ms, transform 400ms;
}

.carousel-image {
  filter: brightness(60%);
}
